{% extends 'index.html' %}
{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="modal-header">
        <h4 class="modal-title">Add Employee</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    </div>
    {{ form }}
    <div class="modal-footer">
        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
        <button type="submit" class="save btn btn-default">Save</button>
    </div>
</form>
{% endblock %}
