{% extends 'index.html' %}
{% load static %}

{% block content %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <title>Crie sua conta</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>
<body>
<div class="signup-form">
    <form method="post">
        {% csrf_token %}
        <h2>Registrar</h2>
        <p class="hint-text">Crie uma conta, é gratuito e leva apenas alguns minutos.</p>
        {% for field in form %}

        <div class="form-group">
            {{ field.label_tag }}<br>
            {{ field }}
        </div>

        {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}
        </p>
        {% endfor %}


        <div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block">Registrar Currículo</button>
        </div>
    </form>
</div>
</body>
{% endblock %}